---
import { supabase } from "../lib/supabase";

const { data, error } = await supabase
  .from("company_info")
  .select("*")
  .single();

if (error) console.error(error);
---

<h1>{data?.nombre}</h1>

<p>{data?.direccion}</p>
<p>{data?.telefono}</p>
<p>{data?.mail}</p>
<p>{data?.horario}</p>

<img src={data?.logo} alt="Logo empresa" width="180" />

<p>{data?.logo}</p>
